<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="layouts/navbar :: navbar"></div>

<div class="container mt-4">
    <div class="main-content">
        <h1 class="text-center mb-4">Welcome to my portfolio!</h1>
        <p class="lead text-center">Explore my projects, skills, and contact me for more information.</p>

        <div class="row mb-4">
            <div class="col text-center">
                <a href="https://www.linkedin.com/in/luís-oliveira-8271ab141/" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/640px-LinkedIn_logo_initials.png" alt="LinkedIn" style="width: 50px; height: 50px;">
                </a>
                <a href="https://github.com/LuisCarlosOliveira" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 50px; height: 50px;">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

